.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.debug {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content-container {
  padding: 8px;
  flex: 1 1;
  display: flex;
}

.markdown-container {
  display: block
}

.text-container {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex: 1 1; 
}

.control-container {
  margin-top: 8px;
  flex: 0 0
}

.md-source {
  resize: none;
  flex: 1 1;
  padding: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
